<div class="user_container top_margin">
  <div class="panel panel-default app_width">
    <div class="panel-heading">
        <h1 class="panel-title">
            <h1><%=truncate(@user.email, length: 13, omission: '...')%></h1>

        </h1>
    </div>
    <div class="panel-body">
      <%= image_tag attachment_url(@user, :image, :fill, 280, 280, fallback: "default-profile.jpg") %>
    <%if @user == current_user%>
      <%= form_for current_user do |f| %>
        <%= f.attachment_field :image%>
        <%= f.check_box :remove_image %>
        <%= f.label :remove_image %>
        <%= f.submit %>
      <%end%>
    <%end%>
    </div>
</div>

<div class="panel panel-default app_width">
  <div class="panel-heading">
      <h1 class="panel-title"></h1>
        <h1>Skills</h1>
  </div>
  <div class="panel-body">
    <% if current_user === @user %>
      <%= render "./userskills/dropdown" %>
    <% end %>
    <% current_user.skills.each do |x| %>
    <h3><%=x.skill%></h3>
    <% end %>
    <div id="skills_container"></div>
  </div>
</div>

<div class="panel panel-default app_width">
    <div class="panel-heading">
        <h1 class="panel-title">
            <h1>Commitments</h1>
        </h1>
    </div>
    <div class="panel-body">
      <ul>

      <% @user.commitments.each do |x| %>
        <li> <%=link_to x.app.name, app_path(x.app_id) %></li>
        <%end %>
      </ul>
    </div>
</div>
</div>
