<% @apps.each do |app| %>

<div class="panel panel-default app_width">
  <div class="panel-heading">
    <h1 class="panel-title"><%= link_to app.name.capitalize, app_path(app) %> </h1>
  </div>
  <div class="panel-body">


  <h2>description</h2><p>
    <%= app.description %>
  </p>

  <h2>Requirements </h2><p>
    <%= app.requirements %>
  </p>

  <h2>Developers Needed</h2><p>
    <%=app.developers_needed %>
  </p>

  <h2>Tags</h2>
    <%app.tag_list.each do |x| %>
  <%= link_to x, tag_path(x) %>
    <%end%>

  <h3>Created by </h3>
  <p>
    <%=link_to app.user.email, user_path(app.user) %>
  </p>
</div>
</div>

<%end%>
