
<div class="creator_container">

    <%=link_to user_path(@app.user) do %>
      <%= image_tag attachment_url(@app.user, :image, :fill, 100, 100, fallback: "default.jpg") %>
    <%end%>

<h4>By </h4>
<p>
  <%= link_to @app.user.email, user_path(@app.user.id) %>
</p>
</div>

<div class="title_container">
  <h1><%= @app.name.capitalize %> </h1><Br>
  <p class="headline">
  <%= @app.description%>
  </p>
</div>
<hr>
<div class="img_container">
  <%= image_tag attachment_url(@app, :image, :fill, 700, 380, fallback: "default-app.jpg") %>
</div>

<div class="app_details">
<div class="panel panel-default">
<div class="panel-heading">
    <h1 class="panel-title"><%= link_to @app.name.capitalize, app_path(@app) %> </h1>
</div>
  <div class="panel-body">

<div>
  <% if user_signed_in? %>
    <% if @app.user_id === current_user.id %>
      <%= link_to "Edit this App", edit_app_path(@app) %>
      <%= link_to "Delete this App", app_path(@app), method: :delete, data: {confirm: "Are you sure?"}%>
    <% end %>
  <%end%>

  <h4>Requirements </h4><p>
    <%= @app.requirements %>
  </p>

  <h4>Developers Needed</h4><p>
     <%=@app.name.capitalize%> has <%=@app.commitments.count%> and needs <%=@app.developers_needed %>
    <div class="progress">
    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: <%= @app.commitments.count*100/@app.developers_needed*100/100%>%">
      <%= @app.commitments.count*100/@app.developers_needed*100/100%>%
      <span class="sr-only">40% Complete (success)</span>
    </div>
  </div>
  <h4>Tags</h4>
    <%@app.tag_list.each do |x| %>
  <%= link_to x, tag_path(x) %>
    <%end%>
  </p>
</div>
</div></div></div>

<!-- <div class="mini_nav_container">
  <ul class="list-inline">
    <li><h4><%=link_to "Overview", app_path(@app, :link_title=>"overview"), remote:true %></h4></li>
    <li><h4><%=link_to "Commitments", app_path(@app, :link_title=>"commitments"), remote:true %></h4></li>
    <li><h4><%=link_to "Github", app_path(@app, :link_title=>"github"), remote:true %></h4></li>
    <li><h4><%=link_to "Comments", app_path(@app, :link_title=>"comments"), remote:true %></h4></li>
  </ul>
</div>
<div id="app_content">

</div> -->
