<% @apps.each do |app| %>

  <% @amount = app.commitments.count*100/app.developers_needed*100/100 %>
  <% if app.commitments.count*100/app.developers_needed*100/100 > 100 %>
      <% @bar = 100 %>
    <% else %>
      <% @bar = app.commitments.count*100/app.developers_needed*100/100%>
  <% end %>
  
  <div class="single_app pop_up ">
      <%=link_to app_path(app) do %>
        <%= image_tag attachment_url(app, :image, :fill, 350, 200, fallback: 'default-app-small.jpg'), :class => "app-image" %>
    <%end%>
    <br>
    <strong><%=link_to app.name, app_path(app)%></strong><br>
    <%=link_to user_path(app.user) do %>
      <%= image_tag attachment_url(app.user, :image, :fill, 25, 25, fallback: "default-nav.jpg") %>
    <%end%>
    <p>
      by <%=link_to app.user.email, user_path(app.user), :class => "alt_a" %>
    </p>
    <p>
      <%= truncate(app.description , length: 100, omission: '...')%>
    </p>
    <div class="small-app-detail">
      <div class="progress">
        <%if @amount > 100%>
          <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: <%=@bar%>%">
          <%= @amount %>%
          <span class="sr-only">40% Complete (success)</span>
          </div>
        <% else %>
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: <%=@bar%>%">
          <%= @amount %>%
          <span class="sr-only">40% Complete (success)</span>
          </div>
        <% end %>
      </div>
      
      <div class="mini-app-detail">
        <span><%=app.developers_needed %> developer needed </span>
        <span><%= app.commitments.count*100/app.developers_needed*100/100%>%</span>
        <span><%= app.created_at.strftime("%b %-d, %Y")  %></li></span>
      </div>
    </div>
  </div>

<%end%>
