<h1><%= @app.name %> </h1>

<h2>description</h2><p>
  <%= @app.description %>
</p>

<h2>Requirements </h2><p>
  <%= @app.requirements %>
</p>

<h2>Developers Needed</h2><p>
  <%=@app.developers_needed %> developers needed
  <div class="progress">
  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: <%= @app.commitments.count*100/@app.developers_needed*100/100%>%">
    <%= @app.commitments.count*100/@app.developers_needed*100/100%>%
    <span class="sr-only">40% Complete (success)</span>
  </div>
</div>
</p>

<h3>Created by </h3>
<p>
  <%= link_to @app.user.email, user_path(@app.user.id) %>
</p>

<% if user_signed_in? %>
  <% if @app.user_id === current_user.id %>
    <%= link_to "Edit this App", edit_app_path(@app) %>
    <%= link_to "Delete this App", app_path(@app), method: :delete, data: {confirm: "Are you sure?"}%>
  <% end %>
<%end%>
