

<div class="single_app flex-center">
  <div>
<%= form_for @app do |f| %>

<%= f.label :name%><Br>
<%= f.text_field :name%><br>

<%= f.label :requirements%><br>
<%= f.text_field :requirements%><br>

<%= f.label :developers_needed%><br>
<%= f.select :developers_needed ,options_for_select(0..15)%><br>

<%= f.label :description%><br>
<%= f.text_field :description%><br>

<% if @app.repo? %>
<%= f.label :repo%><br>
<%= f.text_field :repo%><br>
<% end %>

<%= f.label :tag_list, ("Tags seperated with commas")%><br>
<%= f.text_field :tag_list%><br>

<%= f.label :image%><br>
<%= f.attachment_field :image%><br>

<% if @app.image %>
<%= image_tag attachment_url(@app, :image, :fill, 100, 100) %>
<% end %>

<br>
<%= f.check_box :remove_image %><br>
<%= f.label :remove_image %><br>

<%= f.submit %>

<%end%>
  </div>
</div>
