<!-- testing with javascript_includ -->



<div class="app_show_container">
<%= render 'app' %>
<hr>


<div class="single_app git_container">
  <h2>GIT HUB HISTORY</h2>

<%if current_user == @app.user and @app.repo? == false %>

 <p>
   linked your existing repo, if you have one here
 </p>
 <div class="tiny_container">
 <ol>
   <li> Link your github account <%= link_to "HERE", auth_github_path %></li>
   <li> Athorize AppSpark</li>
   <li> Add the name of your Repo below</li>
   <%= form_for @app, remote: true do |f| %>
     <%= f.label :repo, "Just The Repo Name"%>
    <%= f.text_field :repo%>
    <%= f.submit "submit", :class =>"btn btn-primary" %>
    <% end %>
 </ol>
  </div>
<%end%>

<%if @app.repo? %>
  <table class="table table-hover" id="mytable">
    <thead>
      <tr>
        <th> Date</th>
        <th> Message</th>
        <th> Github Handle</th>
      </tr>
    </thead>
    <tbody>
    <% @response.each do |x|%>
    <tr>
      <td><%= x["commit"]["author"]["date"] %></td>

      <td><%=x["commit"]["message"]%></td>

      <td><%= x["commit"]["author"]["name"] %></td>
    </tr>
    <%end%>
  </tbody>
  </table>
<%end %>

<%if !@app.repo %>
  <p>
    user has not posted a repo yet...
  </p>
<%end%>

</div>

<div class="single_app commiters_container">
  <%= render './commitments/commitments' %>
  <%= render './commitments/commitment_button' %>
</div>


</div>
