// $(function(){
//
//
// if('<%=@link%>' == "overview"){
//   $("#app_content").html(
//     "<div class=overview_container> <p><%= @app.description %><p></div><%=@link%>")
//   }
//
//   else if('<%=@link%>' == "commitments"){$("#app_content").html(
//     "<div class=overview_container><%=@app.commitments%>")
//   }
//   else if('<%=@link%>' == "github"){$("#app_content").html(
//     "<div class=overview_container> <%=@link%><div>")
//   }
//
//   else{$("#app_content").html(
//     "<%=@link%>")
//   }



})
