<!DOCTYPE html>
<html>
  <head>
    <title>SparkApp</title>
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- <%= yield :javascript_includes %> -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <%= render './layouts/nav'%>
    <div>
      <%= yield %>
    </div>
  </body>
</html>
